.add-button {
    background-color: chartreuse;
    height: 40px;
    padding: 0 10px;
    border-radius: 5px;
    width: 100%;
    font-size: #444;
    font-weight: bold;
    cursor: pointer;
    border: none;
}

.add-button:hover {
    background-color: #444;
    color: chartreuse;
    transition: all 0.5s ease;
}